:root {
  --accent: #e005c3;
  --accent-light: #ec0abb;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans, sans serif";
  margin: var(--accent);
}

.conteiner {
  width: 1140;
  margin: auto;
  padding: 0px;
}
.header {
  padding: 10px;
  background-color: var(--accent);
}
.header a {
  text-decoration: none;
  color: var(--pure-white);
  color: #fff;
}
.header-nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  float: left;
  margin-right: 250px;
  padding-left: 150px;
  font-size: 16px;
}

.section {
  padding: 60px;
  text-align: left;
}
.section-title {
  text-decoration: uppercase;
  text-align: center;
}

.menu {
  padding: 0px;
  margin: 0;
  list-style: none;
  font-size: 10;
}
.menu-Item {
  display: inline-block;
  padding: 0px;
}

.menu-link {
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
}
.intro {
  padding: 60px;
}

.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-left {
  width: 30%;
}
.intro-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.intro-right {
  width: 50%;
}
.intro-right h1,
h3 {
  margin: 0 0 10px;
}
.intro-right p {
  font-style: italic;
}
.contacts {
  margin-bottom: 60px;
}
.contacts ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts li {
  text-align: center;
}
.skills {
  margin: 0px;
  padding: 30px;
  color: #fff;
  background-color: var(--accent);
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.skills li {
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
}

.codeexample pre {
  width: 55%;
  margin: auto;
  font-size: 1.3em;
  text-align: left;
  line-height: 35px;
  color: #fff;
  background-color: #e005c3;
  border-radius: 10px;
  font-style: oblique;
}

.education-section {
  margin: 0px;
  padding: 30px;
  color: #fff;
  background-color: #e005c3;
}
.education-paragraph {
  text-align: left;
}
.languages-link {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px;
  padding: 15px;
}

.footer {
  text-align: center;
}
